<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="navbar">
      <h1 id="logo"><i class="far fa-utensils-alt"></i> FoodList</h1>
      <a href="/items/new">Create New Item</a>
      <a href="/category">Category</a>
      <a href="/menus">Menus</a>
    </div>
    <div class="content">
    </div>
    <form class="form" action="/edit/<%= item.id %>" method="POST">
      <input type="text" class="input name" name="name" value= "<%= item.name %>" required>
      <input type="text" class="input price" name="price" value="<%= item.price %>" required><br>
   
      <label class="checkboxinput" for="category">Category : </label>
      <% categories.each do | category | %>
        <input type="checkbox"  name="categoryid[]" value=<%=category.id%> <%= 'checked' if itemcategory.include?(category.id) %>>
        <label class="checkboxinput"> <%= category.name %></label>
      <% end %>
      <br>
      <br>
      <button type="submit">Submit</button>
    </form>
    <footer>
    <svg class="footer__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
      <div class="grid-container">
        <div class="grid-item"><i class="far fa-shipping-fast"></i><br><span>Fastest Delivery</span></div>
        <div class="grid-item"><i class="fal fa-salad"></i><span><br>Quality Foods</span></div>
        <div class="grid-item"><i class="fal fa-hat-chef"></i><br><span>Original Recipes</span></div>
      </div>
    </footer>
  </body>
</html>
