<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body>

    <div class="navbar"> 
      <h1 id="logo"><i class="fas fa-burger-soda"></i> FoodList</h1>
      <a href="/menus">Menus</a>
      <a href="hi">Categories</a>
      <a href="/items/new">Create New Item</a>
    </div>

<ul class="cards">
<% items.each do |item|%>

  <li>
    <div class="card">
      <img src="/pic.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
    
          <div class="card__header-text">
            <h3 class="card__title"><%= item.name %></h3>    
             <span class="card__tagline"><%= listcategories["#{item.id}"] %></span>
           
           
                     
            <span class="card__status">Rp <%= item.price %></span>
            <a href="/items/<%= item.id %>" >Show</a>
            <a href="/items/<%= item.id%>/edit" >Edit</a>
            <a href="/delete/<%= item.id%>">Delete</a>
          </div>
        </div>
        
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis? </p>
        
      </div>
    </div>      
  </li>
   <% end %>  
</ul>
    
    <footer>
  <p>#Generasi GIGIH - ONG WILLIAM RAVEN WIJAYA</p>
</footer>
  </body>
</html>
